name: flutter_moving_background
description: "A beautiful and animated background"
version: 0.0.1
homepage: https://github.com/flutter/flutter
author: Ildeberto Vasconcelos

environment:
  sdk: '>=3.2.4 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
